@using PTSMSDAL.Models.Curriculum.References;
@{
    ViewBag.Title = "ProgramList";
    ViewBag.Name = "Program List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <br />

    @using (Html.BeginForm("ProgramList", "Programs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label">Program</label>
            <div class="col-md-4">
                <select class="form-control select2 select2-hidden-accessible" id="dpdProgram" name="dpdProgram" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option selected="selected">--Select Program--</option>
                    @if (ViewBag.ProgramList != null)
                    {
                        List<Program> ProgramList = (List<Program>)ViewBag.ProgramList;
                        foreach (Program program in ProgramList)
                        {
                            <option value="@program.ProgramId"> @program.ProgramName </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">           
            <div class="col-md-4">
                <input type="submit" value="Submit" class="btn btn-sm btn-info" />
            </div>
        </div>

    }
</div>













@*<div class="col-md-6">
        <div class="form-group">
            <label>Minimal</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option selected="selected">Alabama</option>
                <option>Alaska</option>
                <option>California</option>
                <option>Delaware</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Washington</option>
            </select><span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-50np-container"><span class="select2-selection__rendered" id="select2-50np-container" title="Alaska">Alaska</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label>Disabled</label>
            <select class="form-control select2 select2-hidden-accessible" disabled="" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option selected="selected">Alabama</option>
                <option>Alaska</option>
                <option>California</option>
                <option>Delaware</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Washington</option>
            </select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-n70w-container"><span class="select2-selection__rendered" id="select2-n70w-container" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        </div>
        <!-- /.form-group -->
    </div>*@

