@{
    ViewBag.Title = "Instructor Utilization";
    ViewBag.Name = "Instructor Utilization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .headerBlock {
        background: #517842;
        border-radius: 10px;
        width: auto;
        height: auto;
        display: block;
        margin: 10px;
        color: #ffffff;
        padding: 10px;
    }

    .custom-Col {
        border-right: 3px solid;
        border-color: #517842;
    }

    .add-event {
        border-radius: 10px;
        display: block;
        border: solid;
        border-color: #517842;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
    /*#addScheduledEventModel*/
    #EditScheduledEventModel .modal-dialog {
        width: 70%;
    }

    #addScheduledEventModel .modal-dialog {
        width: 80%;
    }

    #DragAndDropModelPopup .modal-dialog {
        width: 60%;
    }



    /*#calendar {
        max-width: 900px;
        margin: 50px auto;
    }*/
</style>

<style>
    #scheduler-page .two-col {
        margin: 60px 0 60px;
    }

    #scheduler-page #calendar {
        font-size: 14px;
    }

        #scheduler-page #calendar .fc-event {
            /* adjust hue */
            background-color: #3b91ad;
            border-color: #3b91ad;
        }

            #scheduler-page #calendar .fc-event:hover {
                text-decoration: none; /* undo a previous rule */
            }

    #scheduler-page .larger-link-wrap {
        margin-top: 2em;
    }

    #scheduler-page .larger-link-wrap,
    #scheduler-page .sidebar ul {
        font-size: 14px;
    }

    #scheduler-page .sidebar {
        padding-left: 45px;
    }

        #scheduler-page .sidebar h3 {
            margin-top: .4em;
            font-size: 16px;
        }

        #scheduler-page .sidebar ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #scheduler-page .sidebar li {
            margin: 1em 0;
            padding: 0;
        }

    #scheduler-page h2 span {
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 2px;
        border: 1px solid rgba(255, 255, 255, .4);
        position: relative;
        top: -2px;
        left: 5px;
    }

    /*#scheduler-page #banner > div {
            margin-top: 34px;
            margin-bottom: 34px;
        }*/

    #scheduler-page .fc-left h2 {
        margin-left: 30px;
    }
</style>

@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/FullCalendar/jquery-ui.min.css" rel="stylesheet" />

<link href="~/Content/AdminLTE/plugins/fullcalendar-2.9.1/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/fullcalendar-scheduler-1.3.3/scheduler.min.css" rel="stylesheet" />


<link href="~/Content/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/qtip/jquery.qtip.css" rel="stylesheet" />
@*https://select2.github.io/examples.html#programmatic-control*@
<link href="~/Content/AdminLTE/plugins/select2/select2.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/ajax-progress-bar/css/jquery.progressTimer.css" rel="stylesheet" />

<link href="~/Content/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/validator.js"></script>

@section scripts
    {

    <script src="~/Content/AdminLTE/plugins/fullcalendar-scheduler-1.3.3/lib/moment.min.js"></script>

    <script src="~/Content/AdminLTE/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/fullcalendar-2.9.1/fullcalendar.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/fullcalendar-scheduler-1.3.3/scheduler.min.js"></script>


    <script src="~/Content/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/AdminLTE/plugins/qtip/jquery.qtip.js"></script>
    <script src="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/AdminLTE/plugins/select2/select2.full.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/ajax-progress-bar/js/jquery.progressTimer.js"></script>

    <script src="~/Content/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>

<script src="~/Scripts/FullCalendar/jquery-ui.custom.min.js"></script>
<script src="~/Content/AdminLTE/plugins/fullcalendar-scheduler-1.3.3/lib/moment.min.js"></script>

<script src="~/Scripts/CustomScript/Dispatch.js"></script>

    <script>

    $(function () { 

        //Make event color Equipment specific
        var InstructorColorList = null;
        $.ajax({
            url: "/Scheduler/FlyingAndFTDInstructorColorList",
            type: 'GET',
            success: function (result) {

                if (result.hasList) {
                    InstructorColorList = result.resultData;
                }
            },
            error: function () {
                bootbox.alert("Error has occured while coloring the event.");
            }
        });
       

        $('#calendar').fullCalendar({
            theme: true,
            resourceAreaWidth: 230,
            editable: true,
            aspectRatio: 1.5,
            scrollTime: '00:00',
            header: {
                left: 'promptResource today prev,next',
                center: 'title',
                right: 'timelineDay,timelineSevenDays,timelineMonth'
            },
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            customButtons: {
                promptResource: {
                    text: '+ Instructor',
                    click: function () {
                        var title = prompt('Instructor Name');
                        if (title) {
                            $('#calendar').fullCalendar(
                                'addResource',
                                { title: title },
                                true // scroll to the new resource?
                            );
                        }
                    }
                }
            },
            defaultView: 'timelineMonth',
            views: {
                timelineSevenDays: {
                    type: 'timeline',
                    duration: { days: 7 }
                },
                timelineFiftinDays: {
                    type: 'timeline',
                    duration: { days: 15 }
                },
                timelineMonth: {
                    type: 'timeline',
                    duration: { month: 1 }
                },
            },
            resourceLabelText: '',//'Equipment List',
            resourceColumns: [
            {
                labelText: 'Instructor',
                field: 'InstructorName'
            }],
            resourceGroupField: 'EquipmentType',
            resources: '/Scheduler/GetSchedulerInstructorResource/',
           // events: '/Scheduler/GetEquipmentEventForInstructorUtilization/',

            eventSources: [{
                url: '/Scheduler/GetEquipmentEventForInstructorUtilizationsNew/',
                type: 'POST',
                data: function () {
                    debugger;
                    var currentDate = $('#calendar').fullCalendar('getDate');
                    if (currentDate) {
                        //alert(url);

                        var clickedDateTime = new Date(currentDate.toString());
                        var convertedDateTime = new Date(clickedDateTime - 3 * 60 * 60 * 1000);

                        var day = convertedDateTime.getDate();
                        var month = convertedDateTime.getMonth() + 1;
                        var year = convertedDateTime.getFullYear();

                        return {
                            day: day,
                            month: month,
                            year: year
                        }
                    }
                }
            }],
            eventRender: function (event, element, view) {
                debugger;
                //Assign equipment specific event background color
                if (InstructorColorList != null) {
                    jQuery.each(InstructorColorList, function (index, item) {

                        if (event.resourceId == item.InstructorId) {                           
                            $(element).css("background-color", item.Color);
                        }
                    });
                }
                if (event.title.toLowerCase().indexOf("leave") >= 0 || event.title.toLowerCase().indexOf("License") >= 0) {
                    
                    $(element).css("background-color", "red");
                }
                if (event.title.toLowerCase().indexOf("briefing") >= 0 || event.title.toLowerCase().indexOf("debriefing") >= 0) {
                    $(element).css("background-color", "#FFA500");

                }
               

                element.qtip({
                    content: {
                        text: event.description
                    },
                    style: {
                        classes: 'qtip-green qtip-shadow qtip-youtube'
                    },
                    position: {
                        my: 'top left',  // Position my top left...
                        at: 'bottom center', // at the bottom right of...
                        //target: $('.selector') // my target
                    }
                   
                });
               

            }  
        });
    });

    //Read just sizing after font load
    $(window).on('load', function () {
        $('#calendar').fullCalendar('render');
    });

    $(document).ready(function () {

        $('#PTSHtmlBodyTag').addClass("sidebar-collapse");

        @{
                if (ViewBag.FTDAndFlyingScheduleMessage != null)
                {
                    <text> bootbox.alert('@ViewBag.FTDAndFlyingScheduleMessage');</text>
                    ViewBag.FTDAndFlyingScheduleMessage = null;
                }
            }     
    });
    </script>
}




<br />
<div class="FTDAndGFSchedulingContainer">

    <div id='calendar'></div>
    
</div>










