<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-PTSMS-20160609030541.mdf;Initial Catalog=aspnet-PTSMS-20160609030541;Integrated Security=True" providerName="System.Data.SqlClient" />-->



    <!--Development-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqbsd01;Initial Catalog=PTSDB_PRE_PRODUCTION;User ID=ptsuser;Password=abcd@1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqlib02;Initial Catalog=PTSDB_PRE_PRODUCTION;User ID=etpi;Password=abcd1234" providerName="System.Data.SqlClient" />-->

    <!---Production-->
    <add name="PTSContext" connectionString="Data Source=svhqbsd01;Initial Catalog=AATMS_TEST;User ID=ptsuser;Password=abcd@1234" providerName="System.Data.SqlClient" />
    <!--<add name="PTSContext" connectionString="Data Source=svhqlib02;Initial Catalog=PTSDB_PRODUCTION;User ID=etpi;Password=abcd1234" providerName="System.Data.SqlClient" />-->

    <!--MARKETING-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqbsd01;Initial Catalog=AATMS_MARKETING_PRODUCTION;User ID=ptsuser;Password=abcd@1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqlib02;Initial Catalog=AATMS_MARKETING_PRODUCTION;User ID=etpi;Password=abcd1234" providerName="System.Data.SqlClient" />-->

    <!--MAINTENANCE-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqbsd01;Initial Catalog=AATMS_MAINTENANCE_PRODUCTION;User ID=ptsuser;Password=abcd@1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqlib02;Initial Catalog=AATMS_MAINTENANCE_PRODUCTION;User ID=etpi;Password=abcd1234" providerName="System.Data.SqlClient" />-->

    <!--CabinCrew -->
    <!--<add name="PTSContext" connectionString="Data Source=svhqbsd01;Initial Catalog=AATMS_CABIN_CREW_PRODUCTION;User ID=ptsuser;Password=abcd@1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="PTSContext" connectionString="Data Source=svhqlib02;Initial Catalog=AATMS_CABIN_CREW_PRODUCTION;User ID=etpi;Password=abcd1234" providerName="System.Data.SqlClient" />-->

    <!--<add name="PTSContext" connectionString="Data Source=svhqbsd01;Initial Catalog=AATMS_TEST;User ID=ptsuser;Password=abcd@1234" providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>